# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

steps:
- script: lscpu
  displayName: 'Redundant action. Show info about Azure machine.'

- script: mkdir build; cd build; cmake .. ; cmake --build . rm -rf
  displayName: 'Build'

- script: cd build; ctest
  displayName: 'Run testing'

